body {
  background-image: url(/assets/img/promoimg.png);
  background-size: auto 100vh;
  background-repeat: no-repeat;
}

.logoLabel {
  position: fixed;
  top: 70px;
  left: 0;
  width: 100%;
  height: auto;
  background-color: black;
  opacity: 0.7;
  display: flex;
  gap: 10px;
}

.pageLogo {
  float: left;
  position: relative;
  top: 5px;
}

.proName {
  color: aliceblue;
  font-size: 40px;
  line-height: 90px;
}

.promoImg {
  width: auto;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
}